{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block js %}
    <script>
        window.onload = convert(1);
    </script>
{% endblock %}
{% block body %}
    <div style="text-align:center">
        <h4>{{ seminar.seminar_name }}</h4>
        <h1> {{ seminar.title }} </h1>
    </div>

    <div style="text-align:center">
        <p>{{ seminar.speaker_name }}</p>
        <p>{{ seminar.speaker_department }}</p>
        <p>{{ seminar.address }}</p>
        <p>{{ seminar.time }}</p>
    </div>

    <p>
    <p id="plain_style1" style="display: none"> {{ seminar.abstract }} </p>
    <p id="markdown_style1"></p>

    </p>
{% endblock %}