<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/img/favicon.png" type="image/png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% block meta %}
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="/static/css/vendor/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>

    <!-- main css -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/vendors/linericon/style.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/vendors/nice-select/css/nice-select.css">

    {% block css %}

    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('main.index') }}">ResearchLink</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('main.explore') }}">Explore</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('main.plaza') }}">Feedback</a>
        </li>
        {#        <li class="nav-item active">#}
        {#            <a class="nav-link" href="{{ url_for('main.pricing') }}">Price</a>#}
        {#        </li>#}
    </ul>
</nav>

<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}
</div>

<div class="main_container" id="id_main_container">
    <div class="container_inner" id="display_div_id">
    </div>
</div>

<script type="text/javascript" src="/static/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/bootstrap.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156251860-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-156251860-1');
</script>


{% block js %}

{% endblock %}
</body>
</html>
