{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <a href="{{ url_for('main.index') }}" class="navbar-brand" title="Return to the homepage" id="logo">
        <img src="/static/img/logo3.png" alt="ResearchLink" height="50px"/>
    </a>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
        <img src="/static/img/background.png" class="img-fluid rounded" width="100%" height="auto" alt="Responsive image">
    </div>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light rounded-circle">
        <div class="col-md-9 p-lg-3 mx-auto my-5">
          <h1 class="text-center">ResearchLink</h1>
          <p class="lead font-weight-normal">ResearchLink, “LinkedIn for researchers”, 
            is a software as a service (SaaS) startup based on AI technologies 
            that connects senior researchers who need talented students for research projects 
            and students who look for research opportunities. </p>
          <a class="btn btn-outline-secondary" href="#">Coming soon</a>
        </div>
    </div>

    <h1 class="text-center">Subscribe Us</h1>

    <!-- <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form role="form" action="{{ url_for('main.index') }}" method="post">
                {{ form.hidden_tag() }}
                {% for f in form if f.type != 'CSRFTokenField' %}
                    <div class="form-group">
                        {{ f.label }}
                        {% if f.errors %}
                        <ul>
                            {% for e in f.errors %}
                            <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {{ f(class_="form-control") }}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div> -->
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light rounded">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfuU95WI-XxZD-ElkqZCqg7Grg3F2-_sKtmT9sL7ES6DxR-bQ/viewform?embedded=true" width="100%" height="1500" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
{% endblock %}
